@use '../globals/variables' as *;

.gestion-tramites {
    color: $grey;
    .title-col {
        h2 {
            color: $blue;
            margin: 0 0 22px;
            text-align: center;
        }
        p {
            line-height: 1.21em;
            max-width: 247px;
        }
    }
    .content-box {
        background: $white;
                box-shadow: 0px 5px 18px 0px rgba(31, 8, 70, 0.1);
                
        border-radius: 15px;
        margin-bottom: 15px;
        display: flex;
        width: 835px;
        padding: 21px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        .title-box {
            font-size: 21px;
            font-weight: $fontSemiBold;
            color: $blue;
        }

        .text-phone {
            color: $pink;
            font-weight: $fontSemiBold;
        }

        .icon-download {
            margin-right: 10px;
        }

        .items-info {
            list-style: none;

            .icon-check {
                color: $pink;
                margin-right: 10px;
            }
        }
        .line-text {
            height: 0.5px;
            color: $grey;
            width: 100%;
        }
        .text-aclaration {
            font-size: 14px !important;
            font-style: italic;
            .highlighted {
                font-weight: $fontMedium;
            }
            .small-text p{
                font-weight:$fontLight;
            }
        }
    }
}